DASHBOARD_URL=http://localhost:5173
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=reconductor
KV_USERNAME=
KV_PASSWORD=
KV_HOST=localhost
KV_PORT=6379
KV_DB=0
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
CSRF_SECRET=
